{% extends "base.html"%}

{% load static %}

{% block body_content %}




{% for enquiry in enquires %}
<style>
	.profile-pic{
		max-width: 60px;
		max-height:70px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div class="card " style="background-color: #F2F2F2; margin-top: 2%;margin-right: 7% ;margin-left: 7%;">
    <div class="card-header">
      <a href="{% url 'stack:addanswer' enquiry.id %}" style="text-decoration: none;  color:#6777ef ;;">{{enquiry.name}}</a>
      
    </div>
    <div class="card-body ">
      <blockquote class="blockquote mb-0">
        <p>{{enquiry.description}}</p>
        <footer class="blockquote-footer">{{enquiry.created_by}} <cite title="Source Title">{{enquiry.created_at|timesince}}</cite></footer>
        <img class="profile-pic" src="{{enquiry.created_by.image.url}}" >
      </blockquote>
    </div>
  </div>
{% endfor %}



{% endblock %}