{% extends "base.html"%}

{% load static %}

{% block body_content %}
{% load crispy_forms_tags %}
<br>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Signin</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    
                    <div class="login-wrap p-4 p-lg-5">
                  
                        <form action="" class="signin-form" method="post" enctype="multipart/form-data">
                            
                            {% csrf_token %}
                            {{ form|crispy }}
               <br>
                <div class="form-group">
                    <button type="submit" class="form-control btn1  submit px-1">Signin</button>
                </div>
                
              </form>
              <br>
              <small style="margin-left: 30%;"><a href="{% url 'stack:signup' %}">Not a member? Signup here</a></small>
            </div>
          </div>
            </div>
        </div>
    </div>
</section>

    {% endblock %}